@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hakkında";
}

<h2>Hakkında</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <p>
            Berber salonumuzdan randevu almak için websitemizi kullanabilirsiniz.
        </p>
        
    </div>
    <div class="col-md-6">
        <img src="/images/berber5.jpg" class="img-fluid rounded" alt="Hakkında Görseli" />
    </div>
</div>
